.container-fluid{
  padding: 5% 10% 5% 10%;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color: #bdb9b9;
  border-width: 7px;
  width: 6%;
}
.block-icon{
  width: 20%;
  margin: 2% auto 0 auto;
}

.contact{
  margin: 0 auto 0 auto;
}
